<div class="modal-rfa">
    <!-- <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">×</button>
    </div> -->
    <div class="modelHeader" style="padding: 15px;">
            <button type="button" class="closed" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">
                    <span>x</span></button>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        <p class="request-name">The selected bulk action has been completed</p>
    </div>
</div>