<div class="modal-rfa">
    <div class="modelHeader" style="padding: 15px;">
            <button type="button" class="closed" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">
                    <span>x</span></button>
        <h3 class="modal-title">Bulk Notifications to Operations</h3>
    </div>
    <div class="modal-body">
        <div class="text-center col-xs-12" ng-show="!config.loaded">
            <h1><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</h1>
        </div>
        <div class="row" ng-show="config.loaded">
            <div class="col-md-7">
                <h3>SELECTED RFA / PARTY B</h3>
                <div class="framed blue-frame">
                    
                    <div class="long-holder fixed-size" slim-scroll settings="{height:'385px'}">                           
                        <table class="table borderless">
                            <thead class="borderbtm">
                                <tr>
                                    <th>RFA ID</th>
                                    <th>Party B True/Legal Name</th>
                                    <th>Party B Client Identifier</th>
                                    <th>Masterlist Identifier</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="element in rows">
                                    <td ng-bind="element.amendmentId"></td>
                                    <td ng-bind="element.entity.trueLegalName"> </td>
                                    <td ng-bind="element.entity.clientIdentifier"></td>
                                    <td ng-bind="element.masterAgreement.masterlistIdentifier"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h3>SELECTED USER
                    <div class="pull-right">
                        <a class="select-all" href ng-click="toggleAll()">{{isAllSelected ?'Deselect All':'Select All'}}</a>
                    </div>
                </h3>
                <div class="short-holder framed framed-signatory">
                    <div class="scroll-area-small" ng-if="users.length" slim-scroll>
                        <ul class="list-list">
                            <li class="list-group-item" ng-repeat="user in users">
                                <span class="truncated" ng-bind="user.userName"></span>
                                <label class="pull-right">
                                    <input class="checkbox" ng-click="addUser(user)" ng-checked="user.selected" type="checkbox" /><span></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-form name="myForm">
                <h3>CUSTOM NOTIFICATION MESSAGE
                    <div class="pull-right">
                        <span ng-show="config.preveiwWaiting"><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</span>
                        <a class="select-all" href ng-click="preveiwEmail(rows)">Preview Email</a>
                    </div>
                </h3>
                <div class="text-danger warning" ng-show="myForm.myInput.$error.maxlength">
                    <span>Maximum 2000 characters for custom notification message</span>
                </div>
                <textarea name="myInput" ng-model="config.message" ng-maxlength="{{config.maxlength}}" 
                placeholder="Maximum 2000 characters for custom notification message"
                class="form-control dialog-textarea larger-text" rows="3" ng-class="{warningBorder: myForm.myInput.$error.maxlength}">
                </textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span ng-show="config.waiting"><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</span>
        <button class="btn btn-green" ng-disabled="!config.loaded || config.waiting || config.preveiwWaiting" ng-click="close()">Close</button>
        <button class="btn btn-lightgreen" ng-click="save(rows)" ng-disabled="!config.loaded || !userSelectedIds.length || config.waiting || config.preveiwWaiting || myForm.myInput.$error.maxlength">
            Save
        </button>
    </div>
</div>