<div class="table-contayner">
    <table class="table table-hover" ng-if="!data.loading">
        <thead>
        <tr>
            <th class="text-left">Letter Template Name</th>
            <th class="text-left">Date Created</th>
            <th class="text-left">Created By</th>
            <th class="text-left">Last Edited Date</th>
            <th class="text-left">Last Edited By</th>
            <th class="text-left">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data.table.data.dataList | limitTo:data.pages.items_per_page">
            <!-- <td class="text-left"><a ng-click="call('open', {id: item.fileIid})" title="{{item.name}}">{{item.name}}</a></td> -->
            <td class="text-left"><a ng-click="call('edit', {id: item.id})" title="{{item.name}}">{{item.name  | truncate:30}}</a></td>
            <td class="text-left">{{item.createdDate | date : 'dd-MMM-yyyy'}}</td>
            <td class="text-left">{{item.createdByString}}</td>
            <td class="text-left">{{item.modifiedDate | date : 'dd-MMM-yyyy'}}</td>
            <td class="text-left">{{item.modifiedByString}}</td>
            <td class="text-left">
                <button title="Edit letter template" class="btn btn-default btn-action sprite-button-edit" ng-click="call('edit', {id: item.id})"></button>
                <button title="Delete letter template" class="btn btn-default btn-action sprite-button-remove" ng-click="call('remove', {id: item.id, name: item.name})"></button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="table-loader" ng-if="data.loading">
        <span><i class="fa fa-spin fa-circle-o-notch"></i> Loading...</span>
    </div>
    <div class="table-no-results" ng-if="data.table.data.dataList.length == 0 && !data.loading">
        <span>No search results found for this query.</span>
    </div>
</div>