<div style="display:none;">
    <div id="exhibitText" ng-bind-html="trustAsHtml(exhibitTextContent)"></div>
    <div id="exhibitTable">
        <div ng-repeat="lineBreak in exhibitTable.previousLineBreaks">{{lineBreak}}</div>
        <div ng-repeat="table in exhibitTable.tables track by $index ">
            <p class="table-header">{{table.headerName}}</p>
            <table>
                <tr>
                    <td ng-repeat="item in table.columns" ng-if="!item.splitter">{{item.label || item.name}}</td>
                </tr>
                <tr ng-repeat='item in table.rows'>
                    <td ng-repeat="key in table.columns" ng-if="showCell(key, $index, table, item)" rowspan="{{getRowspan($index, table, item)}}">
                        {{item[key.name]}}
                    </td>
                </tr>
            </table>
            <div>{{table.lineBreak}}</div>
        </div>
    </div>
</div>