<div class="modal-rfa">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel(row)">×</button>
        <h3 class="modal-title">Escalation to {{deskType}}</h3>
    </div>
    <div class="modal-body">
        <div class="text-center col-xs-12" ng-show="!config.loaded">
            <h1><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</h1>
        </div>
        <div class="row" ng-show="config.loaded && !checked">
            <div class="col-md-12">
                <div class="framed blue-frame">
                    </table>
                    <!-- <div class="long-holder fixed-size" slim-scroll settings="{height:'385px'}">-->
                    <div class="long-holder fixed-size">
                        <table class="table borderbtm">
                            <thead>
                                <tr>
                                    <th>RFA ID</th>
                                    <th>Party B True/Legal Name</th>
                                    <th>Party B Client Identifier</th>
                                    <th>Party B LEI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td ng-bind="row.amendmentId"></td>
                                    <td ng-bind="row.entity.trueLegalName"> </td>
                                    <td ng-bind="row.entity.clientIdentifier"></td>
                                    <td ng-bind="">to be done</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h6>AVAILABLE USERS
                    <div class="pull-right">
                        <a class=" select-all" href ng-click="selectedAll()">Select All</a>
                    </div>
                </h6>
                <div class="short-holder framed framed-signatory">
                    <div class="scroll-area-small" ng-if="users.length" slim-scroll>
                        <ul class="list-list">
                            <li class="list-group-item" ng-repeat="user in users">
                                <span ng-click="selectedUser(user)" class="truncated" ng-bind="user.userName"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h6>SELECT USERS
                    <div class="pull-right">
                        <a class=" select-all" href ng-click="deSelectedAll()">Deselect All</a>
                    </div>
                </h6>
                <div class="short-holder framed framed-signatory">
                    <div class="scroll-area-small" ng-if="config.users.length" slim-scroll>
                        <ul class="list-list">
                            <li class="list-group-item" ng-repeat="person in config.users">
                                <span class="truncated" ng-bind="person.userName"></span>
                                <label class="pull-right">
                                    <input class="checkbox" ng-click="unSelectedUser(person)" ng-checked="person.selected"
                                        type="checkbox" /><span></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-12" ng-form name="myForm">
                <h3>CUSTOM NOTIFICATION MESSAGE
                    <div class="pull-right">
                        <span ng-show="config.preveiwWaiting"><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</span>
                        <a class="select-all" href ng-click="preveiwEmail(row,index)">Preview Email</a>
                    </div>
                </h3>
                <div class="text-danger warning" ng-show="myForm.myInput.$error.maxlength">
                    <span>Maximum 2000 characters for custom notification message</span>
                </div>
                <textarea name="myInput" ng-model="config.message" ng-maxlength="{{config.maxlength}}" placeholder="Maximum 2000 characters for custom notification message"
                    class="form-control dialog-textarea larger-text" rows="3" ng-class="{warningBorder: myForm.myInput.$error.maxlength}">
                    </textarea>
            </div>
        </div>
        <div class="row" ng-show="config.loaded && checked">
            <div class="col-md-12">
                <h3>Selected Escalation will be unchecked. Click ‘Save’ to proceed</h3>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span ng-show="config.unAuthorized" class="text-danger warning">Error {{config.errorMsg}} !</span>
        <span ng-show="config.waiting"><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</span>
        <button class="btn btn-green btn-sm" ng-disabled="!config.loaded || config.waiting || config.preveiwWaiting"
            ng-click="cancel(row)">Close</button>
        <button ng-show="!checked" class="btn btn-success btn-sm" ng-click="save(row)" ng-disabled="!config.loaded || !userSelectedIds.length || config.waiting || config.preveiwWaiting || myForm.myInput.$error.maxlength">
            Save
        </button>
        <button ng-show="checked" class="btn btn-success btn-sm" ng-click="unchecked(row)">Save</button>
    </div>
</div>