.filters {
  padding: 20px;
  position: relative;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background: #f8f8f8;
}
.filters .clear-container {
  height: 50px;
  position: absolute;
  top: 169px;
  right: 4px;
}
.filters .clear-container1 {
  height: 50px;
  position: absolute;
  top: 120px;
  right: 4px;
}
.filters label {
  font-size: .7em;
  font-weight: 100;
  position: relative;
  display: block;
  height: 16px;
}
.filters label span.filter-label {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
}
.filters label b,
.filters label strong {
  font-weight: 800;
}
.filters .filter-container:last-child .btn + .filter-popup {
  right: 0;
  left: auto;
}
.filters .filter-container:last-child .btn + .filter-popup:after {
  right: 30px;
  left: 80%;
}
.filters .filter {
  display: block;
  width: 100%;
}
.filters .filter .btn-group {
  display: inline-block;
  width: 100%;
}
.filters .filter .btn.btn-toggle {
  font-size: .8em;
  font-weight: 100;
  padding-top: 7px;
  padding-bottom: 7px;
  display: inline-block;
  height: auto;
  margin-bottom: auto;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  background-color: #fff;
}
.filters .filter .btn.btn-toggle,
.filters .filter .btn.btn-toggle.active,
.filters .filter .btn.btn-toggle:hover,
.filters .filter .btn.btn-toggle:active {
  border: 1px solid #045a8c;
  box-shadow: none;
}
.filters .filter .btn.btn-toggle.active {
  color: white;
  background: #045a8c;
}
.filters .filter .btn.btn-toggle:hover {
  color: white;
  outline: 0;
  background: #009697;
  box-shadow: none;
}
.filters .filter .btn.btn-search {
  font-size: .8em;
  font-weight: 100;
  display: inline-block;
  border-radius: 0px;
  width: 100%;
  height: auto;
  margin-bottom: auto;
  padding: 7px 12px;
  text-align: left;
  color: #009697;
  background-color: #fff;
}
.filters .filter .btn.btn-search .viewed-value {
  display: block;
  overflow-x: hidden;
  width: 85%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.filters .filter .btn.btn-search,
.filters .filter .btn.btn-search.active,
.filters .filter .btn.btn-search:hover,
.filters .filter .btn.btn-search:active {
  border: 1px solid #009697;
}
.filters .filter .btn.btn-search i {
  font-size: 1.6em;
  line-height: .8em;
  position: absolute;
  top: 7px;
  right: 12px;
  color: inherit;
}
.filters .filter .btn.btn-search.selected {
  color: white;
  background: none repeat scroll 0 0 #009697;
}
.filters .filter .btn.btn-search:hover {
  color: white;
  outline: 0;
  background: #009697;
  box-shadow: none;
}
.filters .filter .btn.btn-date {
  font-size: .8em;
  font-weight: 100;
  display: inline-block;
  width: 100%;
  height: auto;
  margin-bottom: auto;
  padding: 7px 12px;
  text-align: left;
  color: #333;
  background-color: #fff;
}
.filters .filter .btn.btn-date .viewed-value {
  display: block;
  overflow-x: hidden;
  width: 85%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.filters .filter .btn.btn-date,
.filters .filter .btn.btn-date.active,
.filters .filter .btn.btn-date:hover,
.filters .filter .btn.btn-date:active {
  border: 1px solid #045a8c;
}
.filters .filter .btn.btn-date i {
  font-size: 1.6em;
  line-height: .8em;
  position: absolute;
  top: 7px;
  right: 12px;
  color: #c7cfd8;
}
.filters .filter .btn.btn-date.selected {
  color: white;
  background: none repeat scroll 0 0 #045a8c;
}
.filters .filter .btn.btn-date:hover {
  color: white;
  outline: 0;
  background: #057abe;
  box-shadow: none;
}
.filters .filter .btn + .filter-popup {
  position: absolute;
  z-index: 100;
  top: 65px;
  left: -17px;
  width: 100%;
  min-width: 230px;
  max-width: 400px;
  color: #fff;
  border: 0 none;
  border-radius: 3px;
}
.filters .filter .btn + .filter-popup:after {
  position: absolute;
  z-index: 10;
  top: -10px;
  left: 30px;
  width: 0;
  height: 0;
  content: ' ';
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #4C525A transparent;
}
.filters .filter .filter-popup {
  background: #4C525A;
  padding: 8px;
}
.filters .filter .filter-popup h5 {
  margin: 10px 4px 10px 4px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: pre;
  display: inline-block;
  overflow: hidden;
}
.filters .filter .filter-popup .btn.btn-close {
  background: transparent;
  display: inline-block;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2px;
  right: 5px;
}
.filters .filter .filter-popup .btn.btn-clear-link {
  padding: 0;
  color: #22b5d7;
}
.filters .filter .filter-popup .input-label-overlay {
  color: #9BA1A9;
  position: absolute;
  font-size: 1.5em;
  top: 53px;
  left: 18px;
}
.filters .filter .filter-popup .container-fluid {
  overflow: hidden;
  padding: 0;
}
.filters .filter .filter-popup .header {
  padding: 0 18px;
}
.filters .filter .filter-popup .header input {
  border: 0 none;
  padding-left: 35px;
}
.filters .filter .filter-popup .content {
  overflow: auto;
  max-height: 380px;
  margin: 8px 0 0;
  padding: 0;
}
.filters .filter .filter-popup .content ul {
  border: 0 none;
  border-radius: 0;
  background: #545E6B;
}
.filters .filter .filter-popup .content li label {
  position: static;
  height: auto;
  margin: 0;
  padding: 10px;
  border-bottom: 0 none;
  color: #fff;
}
.filters .filter .filter-popup .content li label span {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  height: 13px;
}
.filters .filter .filter-popup .content li:hover {
  background-color: #045a8c;
}
.filters .filter .filter-popup .content input[type='checkbox'] + label > .custom-checkbox {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px 0 0;
  border: 1px solid #fff;
  color: #fff;
}
.filters .filter .filter-popup .content input[type='checkbox']:checked + label > .custom-checkbox:after {
  font-size: 1.2em;
  position: absolute;
  top: -6px;
  left: 0;
  display: inline-block;
  content: '✔';
}
.filters .filter .filter-popup .date {
  display: inline-block;
  width: 40%;
}
.filters .filter .filter-popup .date.date-to {
  float: right;
}
.filters .filter .filter-popup .datepicker {
  width: 100%;
  padding: 5px 3px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
}
.filters .filter .filter-popup .datepicker table {
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  background: white;
}
.filters .filter .filter-popup .datepicker table tr:first-child th,
.filters .filter .filter-popup .datepicker table tr:first-child td {
  padding-top: 10px;
}
.filters .filter .filter-popup .datepicker table tr:last-child th,
.filters .filter .filter-popup .datepicker table tr:last-child td {
  padding-bottom: 10px;
}
.filters .filter .filter-popup .datepicker table tr th:first-child,
.filters .filter .filter-popup .datepicker table tr td:first-child {
  padding-left: 10px;
}
.filters .filter .filter-popup .datepicker table tr th:last-child,
.filters .filter .filter-popup .datepicker table tr td:last-child {
  padding-right: 10px;
}
.filters .filter .filter-popup .datepicker table button.btn {
  padding: 5px 6px;
  border-radius: 5px;
}
.filters .filter .filter-popup .footer {
  padding: 5px 18px 0;
}
.filters .filter .filter-popup .footer .btn {
  text-transform: capitalize;
}
.filters .no-results span {
  padding: 10px 10px;
  height: 40px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #545E6B;
  text-align: center;
}
.filters .loader {
  padding: 10px 40px;
  height: 40px;
  display: inline-block;
  width: 100%;
  background: #545E6B;
  text-align: center;
}
.filters .total-screener {
  display: inline-block;
  height: 30px;
  min-width: 30px;
  top: 1px;
  left: 2px;
  padding: 8px 3px;
  font-size: 0.9em;
  position: absolute;
}
.filters .legend-description {
  white-space: pre-wrap;
  display: inline-block;
  font-size: 0.8em;
  padding: 0 0 0 15px;
}
.filters .buttons-actions {
  margin-left: 10px;
}
.bulk-actions-dropdown ul.dropdown-menu {
  border-radius: 0;
  border: none;
  top: 39px;
  font-size: 12px;
  background-color: #045a8c;
  right: -19px;
}
.bulk-actions-dropdown ul.dropdown-menu > li > a {
  color: #fff;
}
.bulk-actions-dropdown ul.dropdown-menu > li > a:hover,
.bulk-actions-dropdown ul.dropdown-menu > li > a:focus {
  background: transparent;
  color: #fff;
}
.bulk-actions-dropdown ul.dropdown-menu:after {
  position: absolute;
  z-index: 10;
  top: -7px;
  right: 30px;
  width: 0;
  height: 0;
  content: ' ';
  border-width: 0 7px 7px;
  border-style: solid;
  border-color: transparent transparent #009697 transparent;
}
.btn.btn-clear {
  font-size: 1em;
  height: 30px;
  padding: 0 12px;
  color: white;
  border: 0 none;
  background-color: #009697;
}
.btn.btn-clear:hover {
  background-color: #006364;
}
.btn.btn-bulk {
  font-size: 1em;
  width: 110px;
  height: 35px;
  padding: 0 12px;
  margin-left: 5px;
  color: white;
  border: 0 none;
  background-color: #045a8c;
}
.btn.btn-bulk .legend-description {
  padding: 0;
}
.btn.btn-bulk:hover {
  background-color: #033a5a;
}
.btn.btn-bulk:focus {
  outline: none;
}
.btn.btn-total {
  background: #7FC02A;
  color: white;
  height: 35px;
  padding: 0 12px;
  width: 150px;
  position: relative;
  margin-right: 5px;
  cursor: default;
}
.btn.btn-danger {
  background-color: #045a8c;
  border: 0 none;
}
.btn.btn-danger:hover {
  background-color: #033a5a;
}
.btn.btn-success {
  border: 0 none;
  background-color: #7fb74b;
}
.btn.btn-success:hover {
  background-color: #66943b;
}
.filter-list {
  border-top: 1px solid #ffffff;
  position: relative;
  width: 85px;
}
.filter-list .filter-panel-trigger {
  position: absolute;
  right: 20px;
  height: 44px;
  width: 35px;
  border: 1px solid #c9d9e2;
  border-bottom: 1px solid #EFEFEF;
  background-color: #EFEFEF;
  padding: 8px 9px;
}
.filter-list .filter-panel-trigger .panel-trigger-icon {
  width: 16px;
  height: 16px;
  background: url(../images/assets_sprite.png) no-repeat -157px -250px;
}
.a-green {
  color: #009697;
}
