<div class="col-xs-12">
    <div class="attachment-columns" id="columns-editor">
        <table id="exhibit-columns" cellspacing="0" cellpadding="0">
            <thead exhibit-template-grid-select-column></thead>
            <tbody>
            <tr ng-repeat="row in tableData.rows">
                <td class="scroll-buttons"
                        ng-class="{disabled: columnsOffset <= 0}"
                        ng-click="exhTemplateGHCtrl.columnScrollLeft()">
                    <i class="fa fa-caret-left"></i>
                </td>
                <td ng-repeat="cell in row | filter: exhTemplateGHCtrl.shownColumn"
                        ng-show="$index >= columnsOffset && $index < columnsOffset + columnsPerPage"
                        ng-class="{'error-cell': invalid && !cell.name && $index > (DEFAULT_CELL_COUNT - 1), 'table-cell-disabled': $index < DEFAULT_CELL_COUNT}">
                    <span class="error-text" ng-show="invalid && !cell.name && $index > (DEFAULT_CELL_COUNT - 1)">Column <span>header</span> missing</span>
                    <div class="table-cell-title" ng-if="$index < DEFAULT_CELL_COUNT" ng-bind="cell.name"></div>
                    <input
                            name="header"
                            ng-if="$index > (DEFAULT_CELL_COUNT - 1)"
                            class="{{cell.controlColumn && isShowSelectControlColumn.flag ? 'asterisk-input' : ''}}"
                            ng-class="cell.style"
                            type="text"
                            ng-required="$index > (DEFAULT_CELL_COUNT - 1)"
                            ng-model="cell.name"
                            autocomplete="off" />
                    <div class="{{cell.controlColumn && isShowSelectControlColumn.flag? 'asterisk': 'display-none'}}"></div>
                </td>
                <td class="scroll-buttons"
                        ng-class="{disabled: !exhTemplateGHCtrl.availableToScrollRight()}"
                        ng-click="exhTemplateGHCtrl.columnScrollRight()">
                    <i class="fa fa-caret-right"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>