<nav class="sub-navbar-default navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-init="subHeaderCollapse = true" ng-click="subHeaderCollapse = !subHeaderCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" collapse="subHeaderCollapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Document managment</a></li>
                <li><a href="#">Screener</a></li>
                <li><a href="#">Distribution Group Managment</a></li>
                <li><a href="#">Team Managment</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>