<div class="modelHeader" style="padding: 15px;">
        <button type="button" class="closed" data-dismiss="modal" aria-hidden="true"
         ng-click="cancel()"><span>x</span></button>
    <h3 class="modal-title">Save Template as</h3>
</div>
<div class="modal-body">
	<input type="text" class="form-control no-offset" ng-model="data.name">
</div>
<div class="modal-footer">
	<button class="btn btn-green" autofocus ng-click="cancel()">Cancel</button>
    <button class="btn btn-lightgreen" ng-disabled="!data.name" ng-click="ok()">Save</button>
</div>