<div class="modals">
	<!-- <div class="modal-header">
		<div class="close sprite-button-close" ng-click="cancel()"></div>
	</div> -->
	<div class="modelHeader" style="padding: 15px;">
            <button type="button" class="closed" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
                    <span>x</span></button>
        <h3 class="modal-title"></h3>
    </div>
	<div class="modal-body">
		<p>Review completion indicator will be removed. Please Confirm or Cancel request.</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-green" ng-click="cancel()">Cancel</button>
	    <button class="btn btn-lightgreen" ng-click="ok()">Confirm</button>
	</div>
</div>