<div ng-if="content.data == 'Not Actioned'">No action is yet saved for this account requested in RFA.</div>
<div ng-if="content.data == 'Pending Execution'">This account is accepted but not yet submitted back to Investment Manager.</div>
<div ng-if="content.data == 'Rejected'">This account is last saved as ‘Rejected’ in RFA.</div>
<div ng-if="content.data == 'Pending'">This account is last saved as ‘Pending’ in RFA.</div>
<div ng-if="content.data == 'Executed'">This account is executed and Masterlist is updated.</div>
<div ng-if="content.data == 'Withdrawn'">Account withdrawn by Investment Manager.</div>
