<div class="modelHeader" style="padding: 15px;">
        <button type="button" class="closed" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">
                <span>x</span></button>
    <h3 class="modal-title">Recall Request for Amendement</h3>
</div>
<div class="modal-body">
    <p class="request-name">{{data.id}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-green" autofocus ng-click="cancel()">Exit</button>
    <button class="btn btn-lightgreen" ng-click="ok()">Recall</button>
</div>